// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Screen
// ======
@import "mixins";
@import "variables";
@import "partials/normalize";

// variaveis
@import "variaveis/color";
@import "variaveis/media";

// fontes
@import "variaveis/fontFace";

// layout
@import "partials/header";
@import "partials/slide";
@import "partials/main";
@import "partials/serviceMkt";
@import "partials/testimonials";
@import "partials/footer.scss";


html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}