$colorPrimary: hsl(0, 0%, 100%);
$colorSecundary: hsl(228, 100%, 50%);
$colorTertiary: hsl(3, 100%, 50%);
$colorRedBlack: rgba(224, 4, 11, .8);
$colorAzul: rgb(0, 24, 129);

// color transp

// testimonial
// colors

$color-1: #39393c; // charcoal
$color-2: #79b6e4; // blue
$color-3: #dadee1; // light blue
$color-4: #ffffff; // white