header {
  @include span(100%);
  //height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  //background: rgba(255, 255, 255, .5);
  //border-bottom: 4px solid $colorSecundary;
  //@include box-shadow($colorTertiary 0 3px 0);
  z-index: 12;
  //position: absolute;

  .container {
    @include container(100%);

    .headerLogo {
      @include span(4 of 4);
      padding-top: .8rem;
      position: relative;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, .5);
      border-bottom: 4px solid $colorSecundary;
      //@include box-shadow($colorTertiary 0 3px 0);
      //text-decoration: none;
      //z-index: 25;
      text-align: center;
      z-index: 10;

      a {
        text-decoration: none;
        color: $colorTertiary;
      }


      .logo {
        font-size: 3em;
        font-family: 'slipstreamforward';
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $colorTertiary;
        margin: 0;

      } // #logo

      p {
        font-size: 0.9em;
        font-family: 'arialbold_italic';
        text-transform: uppercase;
        letter-spacing: -1px;
        color: $colorSecundary;
        margin: 0;
        margin-top: -.5em;
      } //p

    }  //.headerLogo

    nav {
      @include span(4 of 4);
      //min-height: 100%;
      background: $colorPrimary;
      //position: absolute;
      //top: 0;
      //left: 0;
      transform: translateX(-100%);
      transition: transform 0.6s ease;
      //z-index: 99999;

      @include susy-breakpoint(40em 64.27em, $gMedium) {
        width: 23rem;
        min-height: 100%;
      } // susy-breakpoint(40em 64.27em, $gMedium)

      .navContainer {
        //@include span(100%);
        //height: 70%;
        //position: fixed;
        text-decoration: none;
        background: $colorPrimary;
        //z-index: 100000;
        cursor: pointer;
        //overflow: scroll;
        //text-align: center;

        ul {
          list-style: none;
          margin-top: 6rem;
          padding: .4rem 0;

          li {
            padding: 1rem;
            text-align: center;

            &:nth-child(odd) {
              background: rgb(216, 218, 222);
            }

            &:hover {
              background: #c0c0c0;
              color: $colorTertiary;
            }

            a {
              text-decoration: none;

            }

          } // li

        } //ul

        .menuServicos {
          position: relative;
          display: none;
          padding: 0;

          a {
            margin-top: .5rem;
            background: $colorPrimary;
            padding: .8rem;
            text-decoration: none;
            display: block;
          }

        } //.menuServicos

        .menuRedeSocial {
          @include span(4 of 4);
          //width: 100%;
          //position: absolute;
          //bottom: 2rem;
          text-align: center;

          .iconRedes {

            a {
              //display: inline-block;
              text-indent: -99999px;


              &:hover {
                opacity: .5;
              }
            }

          } //.iconRedes

          .instagram {
            text-indent: -99999px;
            display: inline-block;
            width: 3rem;
            height: 3rem;
            padding: .3rem;
            background: url("../images/instagram.svg") no-repeat center 100%;
            vertical-align: middle;
          }
          //.instagram

          .facebook {
            @extend .instagram;
            background: url("../images/facebook.svg") no-repeat center 100%;
          }
          //.facebook

          .twitter {
            @extend .instagram;
            background: url("../images/twitter.svg") no-repeat center 100%;
          }
          //.twitter

          .whatsapp {
            @extend .instagram;
            background: url("../images/whatsapp.svg") no-repeat center 100%;
          }
          //.whatsapp

        }
        // .menuRedeSocial
      }
      //.navContainer

    } // nav

    .open {
      transform: translateX(0);
    }

  } //.container

  .triggerMenu {
    //background: $colorTertiary;
    width: 2.5em;
    height: 2.5em;
    //@include border-radius(3em);
    position: absolute;
    background: url("../images/iconMenu.svg") no-repeat center;
    left: 5%;
    top: 6.5rem;
    z-index: 14;
    text-indent: -9999px;

  } // triggerMenu
  .menuShow {
    left: 0;
  } // menuShow


  //&:before{
  //  margin: b;
  //}
  @include susy-breakpoint(64.28em, $gDesk) {
    background: rgba(255, 255, 255, .5);
    border-bottom: 4px solid $colorSecundary;
    //@include box-shadow($colorTertiary 0 3px 0);
    text-align: left;

    .container {
      @include container(85%);


      .headerLogo {
        background: none;
        border-bottom: none;
        @include span(2 of 12);
        //@include box-shadow(none);

        p {
          font-size: .75rem;
        }

      }//.headerLogo

      nav {
        @include span(last 10 of 12);
        background-color: transparent;
        position: static;
        transform: translateX(0);
        height: 100%;
        //background-color: yellow;


        .navContainer {
          background-color: transparent;
          text-decoration: none;
          //text-align: left;
          //overflow: scroll;

          ul {
            padding: 1rem 0;
            //margin: 0;
            height: 100%;
            margin-top: .7rem;

            @include container(10);
            //background-color: #aa3322;

            //padding: rem;

            //background-color: #6666ff;

            //width: auto;

            li {
              @include span(first 2 of 10);
              padding: 0;
              //width: 100%;

              &:nth-child(odd){
                background-color: transparent;
              }

              &:hover {
                background-color: transparent;
                color: $colorTertiary;
              }

              &:last-child {
                @include span(last 2 of 10);

                //margin-left: 0;

              }
              a{
                //width: 100%;
                //height: 100%;
                //padding: 2rem 3rem;
                //background-color: $colorPrimary;

              }
            }

          }

          .menuRedeSocial{
            display: none;
          }
        }

      } // nav

    }

    .triggerMenu {
      display: none;
    }
  } // susy-breakpoint(64.28em, $gDesk)


  //@include susy-breakpoint(64.28em, $gDesk) {
  //  @include span(6 at 4 of 12);
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  transform: translateX(0);
  //  background-color: none;
  //
  //  ul {
  //    //list-style: none;
  //    margin-top: 2rem;
  //    padding: 0 4rem;
  //    display: inline;
  //
  //    li {
  //      padding: 1rem;
  //      //text-decoration: none;
  //
  //      &:nth-child(odd) {
  //        background: rgb(216, 218, 222);
  //      } // &:nth-child(odd)
  //
  //      &:hover {
  //        background: #c0c0c0;
  //        color: $colorTertiary;
  //      } // &:hover
  //
  //      a {
  //        text-decoration: none;
  //
  //      } // a
  //    } // li
  //  } //ul
  //
  //}    //susy-breakpoint(64.28em, $gDesk)

}//header