header {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;

  .headerLogo {
    padding-top: .8rem;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .5);
    border-bottom: 4px solid $colorSecundary;
    text-align: center;
    z-index: 10;

    a {
      text-decoration: none;
      color: $colorTertiary;
    }


    .logo {
      font-size: 3em;
      font-family: 'slipstreamforward';
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $colorTertiary;
      margin: 0;

    } // #logo

    p {
      font-size: 0.9em;
      font-family: 'arialbold_italic';
      text-transform: uppercase;
      letter-spacing: -1px;
      color: $colorSecundary;
      margin: 0;
      margin-top: -.5em;
    } //p

  }  //.headerLogo

  nav {
    display: flex;
    flex-direction: column;
    background: $colorPrimary;
    transform: translateX(-100%);
    transition: transform 0.6s ease;

    //@include susy-breakpoint(40em 64.27em, $gMedium) {
    //@media screen and (max-width:64.28em) {
    //  width: 23rem;
    //  min-height: 100%;
    //} // susy-breakpoint(40em 64.27em, $gMedium)

    .navContent {
      width: 100%;
      height: auto;
      text-decoration: none;
      background: $colorPrimary;
      cursor: pointer;

      ul {
        list-style: none;
        //margin-top: 3rem;
        padding: .4rem 0;

        li {
          padding: 1rem;
          text-align: center;

          &:nth-child(odd) {
            background: rgb(216, 218, 222);
          }

          &:hover {
            background: #c0c0c0;
            color: $colorTertiary;
          }

          a {
            text-decoration: none;

          }

        } // li

      } //ul

      .menuServicos {
        position: relative;
        display: none;
        padding: 0;

        a {
          margin-top: .5rem;
          background: $colorPrimary;
          padding: .8rem;
          text-decoration: none;
          display: block;
        }

      } //.menuServicos

      .menuRedeSocial {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        text-align: center;

        .iconRedes {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          a {
            text-indent: -99999px;
            display: inline-block;
            width: 3rem;
            height: 3rem;
            padding: .3rem;

            &:hover {
              opacity: .5;
            }
          }

        } //.iconRedes

        .instagram {
          background: url("../images/instagram.svg") no-repeat center 100%;
        }
        //.instagram

        .facebook {
          background: url("../images/facebook.svg") no-repeat center 100%;
        }
        //.facebook

        .twitter {
          background: url("../images/twitter.svg") no-repeat center 100%;
        }
        //.twitter

        .whatsapp {
          background: url("../images/whatsapp.svg") no-repeat center 100%;
        }
        //.whatsapp

      }
      // .menuRedeSocial
    }
    //.navContainer

  } // nav

  .open {
    transform: translateX(0);
  }

  .triggerMenu {
    //background: $colorTertiary;
    width: 2.5em;
    height: 2.5em;
    //@include border-radius(3em);
    position: absolute;
    background: url("../images/iconMenu.svg") no-repeat center;
    left: 5%;
    top: 6.5rem;
    z-index: 14;
    text-indent: -9999px;

  } // triggerMenu
  .menuShow {
    left: 0;
  } // menuShow

  //@include susy-breakpoint(64.28em, $gDesk) {
  @media screen and (max-width:64.28em) {
    background: rgba(255, 255, 255, .5);
    //border-bottom: 4px solid $colorSecundary;
    //@include box-shadow($colorTertiary 0 3px 0);
    text-align: left;

    .container {
      //@include container(85%);


      .headerLogo {
        background: none;
        border-bottom: none;
        //@include span(2 of 12);
        //@include box-shadow(none);

        p {
          font-size: .75rem;
        }

      }//.headerLogo

      nav {
        //@include span(last 10 of 12);
        background-color: transparent;
        position: static;
        transform: translateX(0);
        height: 100%;
        //background-color: yellow;


        .navContainer {
          background-color: transparent;
          text-decoration: none;
          //text-align: left;
          //overflow: scroll;

          ul {
            padding: 1rem 0;
            //margin: 0;
            height: 100%;
            margin-top: .7rem;


            li {
              //@include span(first 2 of 10);
              padding: 0;
              //width: 100%;

              &:nth-child(odd){
                background-color: transparent;
              }

              &:hover {
                background-color: transparent;
                color: $colorTertiary;
              }

              &:last-child {
                //@include span(last 2 of 10);

                //margin-left: 0;

              }
              a{
                //width: 100%;
                //height: 100%;
                //padding: 2rem 3rem;
                //background-color: $colorPrimary;

              }
            }

          }

          .menuRedeSocial{
            display: none;
          }
        }

      } // nav

    }

    .triggerMenu {
      display: none;
    }
  } // susy-breakpoint(64.28em, $gDesk)


  //@include susy-breakpoint(64.28em, $gDesk) {
  //  @include span(6 at 4 of 12);
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  transform: translateX(0);
  //  background-color: none;
  //
  //  ul {
  //    //list-style: none;
  //    margin-top: 2rem;
  //    padding: 0 4rem;
  //    display: inline;
  //
  //    li {
  //      padding: 1rem;
  //      //text-decoration: none;
  //
  //      &:nth-child(odd) {
  //        background: rgb(216, 218, 222);
  //      } // &:nth-child(odd)
  //
  //      &:hover {
  //        background: #c0c0c0;
  //        color: $colorTertiary;
  //      } // &:hover
  //
  //      a {
  //        text-decoration: none;
  //
  //      } // a
  //    } // li
  //  } //ul
  //
  //}    //susy-breakpoint(64.28em, $gDesk)

}//header