header {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;

  .headerLogo {
    padding-top: .8rem;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .6);
    border-bottom: 0.25rem solid $colorSecundary;
    text-align: center;
    z-index: 10;

    a {
      text-decoration: none;
      color: $colorTertiary;
    }


    .logo {
      font-size: 3em;
      font-family: 'slipstreamforward';
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $colorTertiary;
      margin: 0;
    } // #logo

    p {
      font-size: 0.9em;
      font-family: 'arialbold_italic';
      text-transform: uppercase;
      letter-spacing: -1px;
      color: $colorSecundary;
      margin: 0;
      margin-top: -.5em;
    } //p

  }  //.headerLogo

  nav {
    display: flex;
    flex-direction: column;
    background: $colorPrimary;
    transform: translateX(-100%);
    transition: transform 0.6s ease;

    .navContent {
      width: 100%;
      height: auto;
      text-decoration: none;
      background: $colorPrimary;
      cursor: pointer;

      ul {
        list-style: none;
        //margin-top: 3rem;
        padding: .4rem 0;

        li {
          padding: 1rem;
          text-align: center;

          &:nth-child(odd) {
            background: rgb(216, 218, 222);
          }

          a {
            text-decoration: none;

          }

        } // li

      } //ul

      .menuServicos {
        position: relative;
        display: none;
        padding: 0;

        a {
          margin-top: .5rem;
          background: $colorPrimary;
          padding: .8rem;
          text-decoration: none;
          display: block;
        }

      } //.menuServicos

      .menuRedeSocial {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        text-align: center;

        .iconRedes {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          a {
            text-indent: -99999px;
            display: inline-block;
            width: 3rem;
            height: 3rem;
            padding: .3rem;

          }

        } //.iconRedes

        .instagram {
          background: url("../images/instagram.svg") no-repeat center 100%;
        }
        //.instagram

        .facebook {
          background: url("../images/facebook.svg") no-repeat center 100%;
        }
        //.facebook

        .twitter {
          background: url("../images/twitter.svg") no-repeat center 100%;
        }
        //.twitter

        .whatsapp {
          background: url("../images/whatsapp.svg") no-repeat center 100%;
        }
        //.whatsapp

      }
      // .menuRedeSocial
    }
    //.navContainer

  } // nav

  .open {
    transform: translateX(0);
  }

  .triggerMenu {
    //background: $colorTertiary;
    width: 2.5em;
    height: 2.5em;
    //@include border-radius(3em);
    position: absolute;
    background: url("../images/iconMenu.svg") no-repeat center;
    left: 5%;
    top: 6.5rem;
    z-index: 14;
    text-indent: -9999px;

  } // triggerMenu
  .menuShow {
    left: 0;
  } // menuShow

  // modo desktop
  @media only screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    background: rgba(255, 255, 255, 0.6);
    border-bottom: 0.25rem solid #0033ff;
    box-sizing: content-box;

    .headerLogo{
      width: 21rem;
      height: auto;
      background: none;
      border-bottom: none;
    }

    nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      background: none;
      transform: translateX(0);

      .navContent{
        background: none;
        display: flex;
        flex-direction: row;

        ul {
          background: none;
          display: inline-flex;
          flex-grow: 1;
          height: 100%;
          padding: 24px;
          margin: 0;
          box-sizing: border-box;
          justify-content: space-between;

          li{
            background: none;

            a{
              &:visited{
                color: $colorTertiary;
              }
              &:hover{
                color: $colorPrimary;
                text-shadow: 2px 2px 5px black;
              }
            }

            &:nth-child(odd) {
              background: none;
            }
          }
        }
        .menuRedeSocial {
          padding: 1rem;


          a {

            &:hover {
              opacity: .3;
            }

          }
        }
      }
    }
    // menu
    .triggerMenu {
      display: none;
    }
  } // modo desktop
}
