main {
  height: auto;
  margin: 0;
  padding: 0 5%;
  box-sizing: content-box;

  section.main {
    background-color: rgba(224, 4, 11, 0.7);
    padding: 5%;
    margin-top: 5%;

    .servicer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .pageService {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:last-child {
          margin-bottom: .9rem;

          &:after {
            display: none;
          }
        }

        // thumbnails
        .thumbnails {
          //@include full;
          margin-bottom: 0.5rem;

          picture {

            img {
              width: 100%;
              height: auto;
              border-radius: 20% 0 20% 0;
              -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

              border-bottom: 5px solid white;
            }
          }
        }

        .description {
          background: $colorTertiary;
          color: $colorPrimary;
          text-align: center;
          border-radius: 0 20% 0 20%;
          -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          word-break: keep-all;
          border-bottom: 5px solid white;
          display: flex;
          flex-direction: column;

          h2 {
            font-size: 200%;
            word-spacing: .5rem;
          }

          p {
            padding: .5rem;
            font-size: 100%;
            line-height: 1.2;
            margin-top: 0;
          }
        }
        .divisor {
          //@include full;
          position: relative;
          left: 50%;
          margin-left: -25%;
          margin-top: 2rem;
          content: '';
          width: 50%;
          height: 0.3rem;
          background: $colorPrimary;
          color: $colorPrimary;
          border-bottom: 5px solid white;
          border-radius: 5px;

          &:last-child {
            //display: none;
            background: $colorTertiary;
          }
        }

        @media screen and (max-width: 64.28em) {


          span {
            display: none;
          }
          &:nth-child(even) {
          }
          .description {

          }

        }
        // breackpoint 40em 8 coluns

        //@include susy-breakpoint(64.28em, $gDesk) {
        //@media screen and (max-width: 64.28em) {
        //
        //
        //  span {
        //    display: none;
        //  }
        //
        //  .description {
        //    box-sizing: border-box;
        //  }
        //}
      }
    }
  }

  //  section
  @media only screen and (min-width: 1024px) {

    background: url("../images/boxUp.jpg");
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    padding: 0px 4%;
    //width: 100;

    section.main {
      margin: 2rem 0;
      padding: 4%;
      display: flex;
      flex-direction: row;

      .servicer {
        width: 100%;
        flex-direction: row;

        .pageService {
          width: 22%;

          &:last-child {
            margin-bottom: 0;
          }

          .thumbnails {
          }

          .description {
            display: block;
            padding: 5px;

            h2 {
              display: block;
              white-space: pre-wrap;
            }

          }
        }
      }
    }
  }
}

