section.serviceMkt {
  //@include full;
  margin-bottom: 5rem;
  background: $colorPrimary;
  //@extend .servicer;

  .serviceMktRow {
    //@include container(80%);

    .mktService {
      //@include span(4 of 4);

      margin-top: 5rem;
      //margin: span(2);

      &:after {
        position: relative;
        bottom: -2.7rem;
        left: 50%;
        margin-left: -25%;
        content: '';
        width: 50%;

        height: 5px;
        background: $colorTertiary;

      }

      &:last-child {
        //background-color: #00b3ff;
        margin-bottom: 0;

        &:after {
          display: none;
        }
      }
      .thumbnailsService {
        //width: 80%;
        //margin: 10%;
        picture {
          padding: 10%;

          img {
            width: 80%;
            height: auto;
          }
        }
      }//.thumbnailsService

      .descriptionService {
        background: none;
        color: $colorAzul;
        text-align: center;

        h2 {
          //@extend .logo;
          font-size: 2rem;
          text-transform: uppercase;
        }

        p {
          font-size: 1.2rem;
          margin-top: -1.1rem;
        }

      } //.descriptionService

      .thumbnailsLogo {
        //@include container(100%);

        .logo {
          //@include span(100%);

          h2 {
            font-family: 'slipstreamforward';
            font-size: 3.5rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.07142857rem;
            color: $colorTertiary;
            padding: 0;
            margin: 0;

            span {
              font-family: 'RageItalic';
              font-size: 5rem;
              padding: 0;
              margin: -10px 0;
              right: 48px;
              color: $colorAzul;
              //line-height: .3rem;
            }
          }
          h3 {
            text-align: center;
            margin-top: -2.5rem;
            //margin-right: .5rem;
            font-size: 1.1rem;
            padding: 0;
            color: $colorAzul;

            span {
              font-size: 1.8rem;
              font-family: 'RageItalic';
              color: $colorTertiary;
              letter-spacing: 0.07142857rem;
              margin-left: .3rem;
              margin-top: -1rem;
            }
          }
        } // .logo
      }//thumbnailsLogo

      .mktDescription {
        //@include container(100%);
        //@include span(100%);

        h3 {
          text-align: center;
          font-size: 1.5rem;
          color: $colorAzul;
        }

      }//.mktDescription


      //@include susy-breakpoint(40em 64.27em, $gMedium) {
      @media screen and (max-width:64.28em) {
        //@include container(100%);
        //background-color: #00b3ff;
        //@include span(8 of 8);

        .thumbnailsService {
          //@include span(first 3 of 8);
          margin-top: 1.6rem;

          picture {
            //margin-top: 10%;

            img {
              width: 80%;
              height: auto;
            }
          }
        }
        .descriptionService {
          //@include span(last 5 of 8);
          padding: 4% 0;

          h2{
            font-size: 2.6rem;
          }
          p{
            font-size: 1.6rem;
          }
        }
        .thumbnailsLogo{
          //@include span(last 5 of 8);

          .logo {
            //@include span(100%);

              span {
                margin-left: .4rem;
                margin-top: -55px;

            }
          }
        }//.thumbnailsLogo

        .mktDescription {
          //@include span(last 3 of 8);
          padding: .3rem;
          //@include container(100%);
          //@include span(100%);

          h3 {
            text-align: center;
            font-size: 1.5rem;
            color: $colorAzul;
          }

        }//.mktDescription
      } // susy-breakpoint(40em, $gMedium)

      //@include susy-breakpoint(64.28em, $gDesk) {
      @media screen and (max-width:64.28em) {
        //@include container(100%);
        //background-color: #00b3ff;
        //@include span(8 of 8);

        .thumbnailsService {
          //@include span(first 3 of 8);
          margin-top: 1.6rem;

          picture {
            //margin-top: 10%;

            img {
              width: 80%;
              height: auto;
            }
          }
        }
        .descriptionService {
          //@include span(last 5 of 8);
          padding: 4% 0;

          h2{
            font-size: 2.6rem;
          }
          p{
            font-size: 1.6rem;
          }
        }
        .thumbnailsLogo{
          //@include span(last 5 of 8);

          .logo {
            //@include span(100%);

            span {
              margin-left: .4rem;
              margin-top: -55px;

            }
          }
        }//.thumbnailsLogo

        .mktDescription {
          //@include span(last 3 of 8);
          padding: .3rem;
          //@include container(100%);
          //@include span(100%);

          h3 {
            text-align: center;
            font-size: 1.5rem;
            color: $colorAzul;
          }

        }//.mktDescription
      } // susy-breakpoint(40em, $gDesk)
    }//.mktService
  }//.serviceMktRow
}//section.serviceMkt