section.serviceMkt {
  display: flex;
  flex-direction: column;
  background: $colorPrimary;
  box-sizing: border-box;
  padding: 5%;
  //background-color: #2ca02c;
  text-align: center;

  .serviceMktRow {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5%;

    .mktService {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &:last-child {
        border-top: 2px solid #ff0d00;

        &:after {
          display: none;
        }
      }
      .thumbnailsService {
        color: $colorAzul;
        text-align: center;

        picture {

          img {
            width: 80%;
            height: auto;
          }
        }

        h2 {
          font-size: 2rem;
          text-transform: uppercase;
        }

        p {
          font-size: 1.2rem;
          margin-top: -1.1rem;
        }

      } //.thumbnailsService

      .descriptionService {
        background: none;


        h2 {
          font-size: 2rem;
          text-transform: uppercase;
        }

        p {
          font-size: 1.2rem;
          margin-top: -1.1rem;
        }

      }//.descriptionService


      .thumbnailsLogo {
        margin: 1rem;

        .logo {
          //@include span(100%);

          h2 {
            font-family: 'slipstreamforward';
            font-size: 3.5rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.07142857rem;
            color: $colorTertiary;
            padding: 0;
            margin: 0;

            span {
              font-family: 'RageItalic';
              font-size: 5rem;
              padding: 0;
              margin: -10px 0;
              right: 48px;
              color: $colorAzul;
            }
          }
          h3 {
            text-align: center;
            margin-top: -2.5rem;
            font-size: 1.1rem;
            padding: 0;
            color: $colorAzul;

            span {
              font-size: 1.8rem;
              font-family: 'RageItalic';
              color: $colorTertiary;
              letter-spacing: 0.07142857rem;
              margin-left: .3rem;
              margin-top: -1rem;
            }
          }
        }// .logo

      }//thumbnailsLogo

      .mktDescription {
        //@include container(100%);
        //@include span(100%);

        &:last-child {
          margin-top: -2rem;
        }

        h3 {
          text-align: center;
          font-size: 1.5rem;
          color: $colorAzul;
        }

      }//.mktDescription

    }
  }
  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    .serviceMktRow {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;

      .mktService{

        &:last-child{
          border: none;
        }

      }

    }

  }
}//section.serviceMkt