section.slideComponent {
  width: 100%;
  height: 100%;
  overflow: visible;

}

.slideWrap {
  height: 100%;

  #fullscreen {
    height: 100%;
    background: none;
    color: white;
  }

  .slideBlock {
    width: 100%;

    .slider {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      .slide {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        float: left;
        position: absolute;

        .slidecontent {
          width: 100%;
          position: absolute;
          top: 55%;
          text-align: center;

          .slideContainerText {
            box-sizing: content-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 10%;


            img {
              margin-top: 5%;
              margin-bottom: -28px;
            }

            h1 {
              text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
              font-weight: bold;
              //font-size: 120%;
              //margin: 20px 0 30px 0;
              padding: 0;
              font-size: 250%;
              color: $colorSecundary;
              font-weight: bold;
              margin: 0;
            }

            h2 {
              font-size: 160%;
              color: $colorTertiary;
            }

            .slideButton {
              font-family: 'Lato', sans-serif;
              background-color: rgba(255,255,255, 0.0);
              font-size: 160%;
              padding: 2% 21%;
              border: 0.2rem solid white;
              border-radius: 25px;
              white-space: nowrap;

              a {
                text-decoration: none;
                color: $colorPrimary;
              }
            }
          }

          .slideSuaHistoria {
            margin: -85px 0;
          }

          //media query para 480px
          @media only screen and (min-width: 480px) {
            align-items: flex-end;
            bottom: 0;


            .slideContainerText {
              margin: -30px;

              @media only screen and (min-width: 680px) {
                h1 {
                  font-size: 600%;
                }
              }

              img {
                width: 70%;
                margin: -13px 0px -58px 0px;
              }

              h1{
                font-size: 200%;
                margin-bottom: -16px;
              }
            }
            .slideResidencial{
              margin: 0;


            }
            .slideBens {
              margin: -6px;
            }
            .slideProfissional {
              @extend .slideResidencial;
            }
            .slideSuaHistoria{
              margin: -49px 0px -58px 0px;

              img {
                width: 60%;
                margin: -13px 0px -58px 0px;
              }
              h2 {
                font-size: 155%;
              }
              .slideButton {
                margin: -10px;
                font-size: 148%;
                padding: 1% 20%;
              }
            }
          } //@midia 480px

          @media only screen and (min-width: 1024px) {

            .slideContainerText {
              padding: 2%;

              h1 {
                font-size: 550%;
              }
              h2{
                font-size: 300%;
              }
              .slideButton {
                font-size: 250%;
                padding: 1.5% 18%;
              }
            }

            .slideSuaHistoria {
              margin-top: -140px;

              img {
                width: 55%;
                margin: 15px 0px -84px 0px;
              }
            }

            //.slideSuaHistoria {
            //  .slideButton{
            //    @extend .slideButton;
            //  }
            //}

          }
        
        }
      }
    }
    // .slideblock
  }

  // customização do slide
  //#first {
  //  .slideButton {
  //    position: relative;
  //    width: 80%;
  //    bottom: 0;
  //    text-align: center;
  //
  //    a {
  //      font-size: 1.5rem;
  //      font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  //      color: $colorPrimary;
  //      font-weight: bold;
  //      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  //      text-decoration: none;
  //      letter-spacing: 2px;
  //      text-transform: uppercase;
  //    }
  //
  //    @include susy-breakpoint(64.28em, $gDesk) {
  //      // contexto dentro da dimensão de 64.28em = 1028px
  //      width: 50%;
  //      position: absolute;
  //      left: 50%;
  //      margin-left: -25%;
  //      padding: .5rem;
  //
  //    }
  //  }
  //}

  //  slide controller
  #slideposition {
    width: 100%;
    position: relative;
    bottom: 8%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    // Todo so ate 9
    z-index: 10;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li.indicator {
        display: inline-block;
        height: .8rem;
        width: .8rem;
        background: #222;
        margin: 0 .75rem;
        padding: 0;
        border-radius: .8rem;
        overflow: hidden;
        cursor: pointer;
      }

      li.indicator.active {
        background: white;
      }
    }
  }
}

